aiocache
beautifulsoup4
bt
cvxpy
dataclasses_json # for app/components/querybuilder
duckdb # with https://ducklake.select/
factor_analyzer
httpx
# jmespath
pydantic
pydantic-settings
Jinja2
llama-index-workflows
lxml
# networkx
numpy
openpyxl # to open xlsx files in pandas
orjson
pandas
pybind11
plotly
pyarrow  # to open parquet files in pandas
riskfolio-lib
scikit-learn
TA-Lib
yfinance
reflex
# https://pypi.org/org/Reflex/ for other components
# reflex-global-hotkey
# reflex-monaco
# reflex-motion
# reflex-pyplot  # if using matplotlib
# reflex-resizable-panels
xlrd  # to open xls files in pandas