bt
cvxpy
duckdb # with https://ducklake.select/
httpx
jmespath
Jinja2
llama-index-workflows
numpy
pandas
pybind11
matplotlib
# mosek
pyarrow
pydantic
riskfolio-lib
yfinance
reflex
# reflex-echarts # https://echarts.apache.org/
# reflex-highchart # https://www.highcharts.com/
reflex-pyplot