beautifulsoup4
bt
cvxpy
duckdb # with https://ducklake.select/
factor_analyzer
httpx
# jmespath
pydantic
pydantic-settings
Jinja2
llama-index-workflows
lxml
# networkx
numpy
orjson
pandas
pybind11
matplotlib
# mosek
pyarrow
riskfolio-lib
yfinance
reflex
# reflex-echarts # https://echarts.apache.org/
# reflex-highchart # https://www.highcharts.com/
reflex-pyplot